section
    //height: 290px

.stdBtns__header
    font-family: Arial, Calibri, sans-serif;
    text-align: center
    margin-top: 82px
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 1px
    word-spacing: 1px
    font-weight: bold

.buttons
    display: flex
    justify-content: center
    & .col_1
    & .col_2
    & .col_3
    & .col_4
        flex-direction: column

.button
    border-radius 5%
    text-transform: uppercase

.button__small
    width: 78px
    height: 22px
    font-size: 10px
    padding-bottom: 2px

.button__big
    width: 118px
    height: 32px
    font-size: 12px
    padding-bottom: 3px

.button-color__green
    background-color: #4eb7a8
    border: 1px solid #4eb7a8

.button-color__orange
    background-color: #e75735
    border: 1px solid #e75735

.button__pressed
    color: #fff

.button__inactive
    background-color: #fff
    color: #000

.button__hovered
    color: #fff
    box-shadow 0 -3px 0 inset #28a290

