@import "../variablesStyl/variables.styl"

//mixins
hovered_g()
    color: $white
    background-color: $green
    border-color: $darkGreen

hovered_o()
    color: $white
    background-color: $orange
    border-color: $darkOrange

.stdBtns
    &__header
        CommonFonts()
        margin-bottom: 72px

.button-rows
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 140px
    outline: 1px solid red

.pressed
.hovered
.inactive
    width: 66%
    display: flex
    justify-content: space-between
    align-items: flex-end
    outline: 1px solid green

.button
    flex-shrink: 0
    vertical-align: bottom
    border-top: 1px
    border-left: 1px
    border-right: 1px
    border-bottom: 3px
    border-style: solid
    border-radius 3px
    text-transform: uppercase
    background-color: $white
    outline: none
    &:not(.button__hovered):active
        border-bottom-width: 1px

.pressed button
    margin-top: 0

.button__small
    width: 78px
    height: 23px
    font-size: 10px
    border-bottom-width: 2px

.button__big
    width: 118px
    height: 33px
    font-size: 12px
    border-bottom-width: 3px

.button-color__green
    border-color: $green
    color: $green
    &:hover
        hovered_g()
    & .button__hovered:hover:enabled
        hovered_g()

.button-color__orange
    border-color: $orange
    color: $orange
    &:hover
        hovered_o()

.hovered
.pressed
    & .button-color__green
        hovered_g()
    & .button-color__orange
        hovered_o()

.button__pressed
    border-bottom-width: 1px
    position: relative

.pressed button:first-child > img
    position: absolute
    right: 22px
    top: -10px

.pressed button:nth-child(2) > img
    position: absolute
    top: -10px
    right: 30%

.pressed button:nth-child(3) > img
    position: absolute
    top: -10px
    right: 7%

.pressed button:last-child > img
    position: absolute
    top: -10px
    right: -18px

@media screen and (max-width: 600px)

    .button-rows
        //flex-direction: row
        //align-items: stretch
        height: 250px

    .pressed
    .hovered
    .inactive
        align-items: center
        flex-wrap wrap
        justify-content: space-between

    .button-rows > div button:nth-last-child(1)
        order: 2

    .button-rows > div button:nth-last-child(2)
        order: 4

    .button-rows > div button:nth-last-child(3)
        order: 3

    .button-rows > div button:nth-last-child(4)
        order: 1

@media screen and (max-width: 320px)

    .button-rows
        height: 350px