section.stdBtns
    h1.stdBtns__header Standard buttons
    .button-rows
        .pressed
            button.button.button__small.button-color__green.button__pressed button
                img(src=require("./ripple-effect.png") alt="hand")
            button.button.button__big.button-color__green.button__pressed button
                img(src=require("./ripple-effect.png") alt="hand")
            button.button.button__big.button-color__orange.button__pressed button
                img(src=require("./ripple-effect.png") alt="hand")
            button.button.button__small.button-color__orange.button__pressed button
                img(src=require("./ripple-effect.png") alt="hand")

        .hovered
            button.button.button__small.button-color__green.button__hovered button
            button.button.button__big.button-color__green.button__hovered button
            button.button.button__big.button-color__orange.button__hovered button
            button.button.button__small.button-color__orange.button__hovered button
        .inactive
            button(data-ripplet).button.button__small.button-color__green button
            button(data-ripplet).button.button__big.button-color__green button
            button(data-ripplet).button.button__big.button-color__orange button
            button(data-ripplet).button.button__small.button-color__orange button