section.stdBtns
    h1.stdBtns__header Standard buttons
    .buttons
        .pressed
            button.button.button__small.button-color__green.button__pressed button
            button.button.button__big.button-color__green.button__pressed button
            button.button.button__big.button-color__orange.button__pressed button
            button.button.button__small.button-color__orange.button__pressed button

        .hovered
            button.button.button__small.button-color__green.button__hovered button
            button.button.button__big.button-color__green.button__hovered button
            button.button.button__big.button-color__orange.button__hovered button
            button.button.button__small.button-color__orange.button__hovered button
        .inactive
            button.button.button__small.button-color__green.button__inactive button
            button.button.button__big.button-color__green.button__inactive button
            button.button.button__big.button-color__orange.button__inactive button
            button.button.button__small.button-color__orange.button__inactive button