section.stdBtns
    h1.stdBtns__header Standard buttons

    .buttons
        .col_1
            button.button.button__small.button-color__green.button__pressed button
            button.button.button__small.button-color__green.button__hovered button
            button.button.button__small.button-color__green.button__inactive button

        .col_2
            button.button.button__big.button-color__green.button__pressed button
            button.button.button__big.button-color__green.button__hovered button
            button.button.button__big.button-color__green.button__inactive button

        .col_3
            button.button.button__big.button-color__orange.button__pressed button
            button.button.button__big.button-color__orange.button__hovered button
            button.button.button__big.button-color__orange.button__inactive button

        .col_4
            button.button.button__small.button-color__orange.button__pressed button
            button.button.button__small.button-color__orange.button__hovered button
            button.button.button__small.button-color__orange.button__inactive button
