doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="UI-KIT with page elements")
        meta(name="keywords" content="HTML, CSS, JavaScript")
        link(rel="apple-touch-icon" sizes="180x180" href="src/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="src/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="src/favicons/favicon-16x16.png")
        link(rel="manifest" href="src/favicons/site.webmanifest")
        link(rel="shortcut icon" href="src/favicons/favicon.ico")
        title UI-KIT

    body
        main
            include src/stdBtns/stdBtns
            include src/arrowBtns/arrowBtns
            include src/percentages/percentages
            include src/sliders/sliders
            include src/stages/stages
            include src/formElements/formElements

            .search-and-userProfile
                include src/searchDropDown/searchDropDown
                include src/userProfile/userProfile

            include src/newsEvents/newsEvents
            include src/location/location

            .calendar-and-messaging
                section.calendar
                    include src/calendar/calendar
                section.messaging
                    include src/messaging/messaging
            include src/video/video