doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title UI-KIT

    body
        main
            include src/stdBtns/stdBtns
            include src/arrowBtns/arrowBtns
            include src/percentages/percentages
            //include src/sliders/sliders
            //include src/stages/stages
            //include src/formElements/formElements
            //.search-and-userProfile
            //    .search
            //        include src/searchDropDown/searchDropDown
            //    .userPfofile
            //        include src/userProfile/userProfile
            //include src/newsEvents/newsEvents
            //include src/location/location
            //.calendar-and-messaging
            //    .calendar
            //        include src/calendar/calendar
            //    .messaging
            //        include src/messaging/messaging
            //include src/video/video