doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title UI-KIT

    body
        main
            include src/stdBtns/stdBtns
            include src/arrowBtns/arrowBtns
            include src/percentages/percentages
            include src/sliders/sliders
            include src/stages/stages
            include src/formElements/formElements
            .search-and-userProfile
                include src/searchDropDown/searchDropDown