body
    display: flex
    justify-content: space-around
    margin: 0
    padding: 0

main
    margin 0 auto
    width: 700px

@import "./src/stdBtns/stdBtns.styl"
@import "./src/arrowBtns/arrowBtns.styl"
@import "./src/percentages/percentages.styl"
@import "./src/sliders/sliders.styl"
@import "./src/stages/stages.styl"