@import "./src/variablesStyl/variables.styl"
//Lato-*
@font-face
    font-family: LatoBlack
    src: url("./src/fonts/Lato-Black.ttf")
@font-face
    font-family: LatoBold
    src: url("./src/fonts/Lato-Bold.ttf")
@font-face
    font-family: LatoLight
    src: url("./src/fonts/Lato-Light.ttf")
@font-face
    font-family: LatoRegular
    src: url("./src/fonts/Lato-Regular.ttf")
//SourceSansPro-*
@font-face
    font-family: sspLight
    src: url("./src/fonts/SourceSansPro-Light.ttf")
@font-face
    font-family: sspRegular
    src: url("./src/fonts/SourceSansPro-Regular.ttf")

body
    display: flex
    justify-content: space-around
    margin: 0
    padding: 0

main
    margin 0 auto
    width: 597px
    padding-left: 53px
    padding-right: 53px

@import "./src/stdBtns/stdBtns.styl"
@import "./src/arrowBtns/arrowBtns.styl"
@import "./src/percentages/percentages.styl"
@import "./src/sliders/sliders.styl"
@import "./src/stages/stages.styl"
@import "./src/formElements/formElements.styl"
@import "./src/searchDropDown/searchDropDown.styl"
@import "./src/userProfile/userProfile.styl"

.search-and-userProfile
    margin-top: 65px
    display: flex
    & .userPfofile
        width: 100%
        margin-left: 16px
        display: flex
        flex-direction: column
@import "./src/newsEvents/newsEvents.styl"
@import "./src/location/location.styl"

.calendar-and-messaging
    display: flex
    justify-content: space-between
    & .calendar
        width: 279px
    & .messaging
        width: 288px

@import "./src/calendar/calendar.styl"
@import "./src/messaging/messaging.styl"
@import "./src/video/video.styl"