section.searchDD
    h1.searchDD__header Search / drop down

    form.searchDD__fields
        input(type="search" placeholder="Search").search
        input(type="search" placeholder="I've not found what I'm looking for...").search
        input(type="search" placeholder="Choose an option").dropDonw
