.searchDD
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-wrap nowrap
    height: 158px

    &__header
        CommonFonts()
        letter-spacing: 0.6px
        margin-bottom: 20px

.field_1, .field_2
    display: flex
    width: 288px
    height: 28px
    & input[type=text]
        width: 255px
        padding: 0 13px
        border: 1px solid transparent
        border-radius: 3px 0 0 3px
        outline: none
        font-size: 14px
    & ::placeholder
        padding: 0
        font-family: sspRegular


.field_1
    & input[type=text]
        background-color: $gray
    & ::placeholder
        color: #888888

.field_2
    & input[type=text]
        background-color: $orange
    & ::placeholder
        color: $white

.searchDD-button
    width: 33px
    height: 28px
    border-radius: 0 3px 3px 0
    background-color: $orange
    background-image: url(mag-glass.png)
    background-repeat: no-repeat
    background-position: 10px 7px
    cursor: pointer

//drop down
.select-fields
    width: 288px
    height: 28px
    position: relative

.select-fields label
    position: absolute
    width: 33px
    height: 28px
    background-color: $green
    top: 0
    left: 255px
    z-index: 100
    border-radius: 0 3px 3px 0
    cursor: pointer
    &:after
        content: ' '
        display: block
        position: absolute
        left: 12px
        top: 7px
        width: 7px
        height: 7px
        border: solid $white
        border-width: 0 3px 3px 0
        transform: rotate(45deg)

.select-fields .dropdown-active:after
    content: ' '
    display: block
    position: absolute
    left: 12px
    top: 7px
    width: 7px
    height: 7px
    border: solid $white
    border-width: 0 3px 3px 0
    transform: rotate(225deg)