@import "../variablesStyl/variables.styl"

.percentages
    margin-top: 47px
    &__header
        CommonFonts()
        letter-spacing: 0.2px

.pie-container
    display: flex
    justify-content: space-between
    padding: 2px 50px 0

.pie
    width: 110px
    height: auto

.jchart
    width: 100%
    //height: 100%
    &__figure
        margin: 0

//
//.jchart__body
//    width: 100%
//    height: 100%

.jchart__summary
    font-family: Tahoma, Calibri, sans-serif;
    alignment-baseline central
    //font-size: 10px