.location
    margin-top: 52px
    margin-bottom: 54px
    &__header
        CommonFonts()
        margin-bottom: 30px

.googleMap
    width: 100%
    height: 203px
    & iframe
        width: 100%
        height: 233px

.customMapControl
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 69px
    background-color: $orange
    & h2, p
        font-family: Verdana, sans-serif
        color: $white
    & h2
        font-size: 28px
        font-weight: 200
        letter-spacing: -1px
        margin-left: 30px
        margin-right: 23px
    & p
        font-size: 12.5px
        word-spacing: -0.8px
        text-transform: uppercase
    & .icons
        display: flex
        justify-content: space-between
        width: 67px
        position: absolute
        right: 27px
        & #pin, #myLocation
            cursor: pointer