//colors
$green = #4eb7a8 //for pie chart too
$darkGreen = #28a290
$orange = #e75735 //for pie chart too
$darkOrange = #bf3e1f
$white = #fff
$gray = #e5e5e5  //for pie chart too

//colors pie chart
$darkGrayPieColor = #747474

//color for stages
$deepGray = #888888

//Common fonts setting
CommonFonts()
    font-family: Arial, Calibri, sans-serif
    text-transform: uppercase
    text-align: center
    font-weight: bold
    font-size: 18px
