.elements__toggles
    h1.toggles-header Toggles
    .toggleses
        input(type="checkbox" id="inlineCheckbox1" value="option1").form-check-input.left
        input(type="checkbox" id="inlineCheckbox2" value="option2" checked="checked").form-check-input.right