.toggles-header
    CommonFonts()
    h1&
        margin: 0

.toggleses
    margin-top: 30px

.elements__toggles
    & .ui-switcher
        background-color: $gray
        display: inline-block
        height: 24px
        width: 59px
        border-radius: 40px
        box-sizing: border-box
        vertical-align: middle
        position: relative
        cursor: pointer
        transition: border-color 0.25s
        margin: -2px 11px 0 0
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15)

    & .ui-switcher:before
        font-family: sans-serif
        font-size: 10px
        font-weight: 400
        color: #ffffff
        line-height: 1
        display: inline-block
        position: absolute
        top: 7px
        height: 12px
        width: 20px
        text-align: center
    & .ui-switcher:after
        background-color: #ffffff
        content: '\0020'
        display: inline-block
        position: absolute
        top: 2.5px
        height: 18px
        width: 18px
        border-radius: 50%
        transition: left 0.25s
    & .ui-switcher[aria-checked=true]:after
        left: 38px
    & .ui-switcher[aria-checked=true]:before
        left: 11px
    & .ui-switcher[aria-checked=false]:after
        left: 3px
    & .ui-switcher[aria-checked=false]:before
        right: 9px