section.news
    h1.news__header News & Events

    .news-and-events
        .article
            .article-left
                img(src=require("./bicycle.png"))
            .article-right
                h2 It's all going downhill
                h3 24 August 2013
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.

        .event
            .event-left
                img(src=require("./houses.png"))
            .event-right
                h2 <span>24</span> Aug
                h3 This is the title
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.button.button-color__green#forCalendar Add to calendar