section.messaging
    h1.messaging__header Messaging

    .main
        .main__header
            h2 Sarah Brown
        .main__header-footer
        .main__wrap
            .photo-and-icon
                img(src=require("./chat-icon.png")).chat
                img(src=require("./girl.png")).girl-photo
                img(src=require("./camera-icon.png")).camera

            .message
                p.
                    Hey! So are we cool to meet at
                    <br>
                    the art gallery? Say 8pm
            .input-field
                p.
                    Yeah that sounds great. See you
                    <br>
                    then.
            button.button.button-color__green.button__hovered Reply
