.messaging
    &__header
        CommonFonts()
        margin-bottom: 22px
    & .main
        height: 427.5px
        background-color: #f2f2f2
        &__header
            height: 82px
            background-color: #4eb7a8
            display: flex
            justify-content: center
            align-items: center
            & h2
                color: $white
                font-size: 34px
            &-footer
                height: 34px
                background-color: #46ab9d

        &__wrap
            margin: 0 auto
            width: 243px
            position: relative

            & .photo-and-icon
                display: flex
                justify-content: space-around
                margin-top: 20px

                & .chat
                    position: absolute
                    left: 3px
                    top: 2px

                & .girl-photo
                    top: -61px
                    left: 31%
                    border-radius: 50%
                    position: absolute
                    box-shadow 0 0 0 5px $gray

                & .camera
                    position: absolute
                    right: 6px

            & .message
                height: 70px
                background-color: $white
                border-radius: 5px
                margin-top: 40px
                position: relative

                &::after
                    position: absolute
                    content: " "
                    bottom: 100%  /* At the top of the tooltip */
                    left: calc(50% - 12px)
                    border-width: 7px
                    border-style: solid
                    border-color: transparent transparent $white transparent
                & p
                    padding: 16px 18px
                    font-size: 15px
                    color: #868686
            & .input-field
                width: 238px
                height: 82px
                margin: 20px auto 0 auto
                background-color: $gray
                box-shadow 0 0 0 3px $white
                border-radius: 5px
                & p
                    padding: 15px 17px
                    font-size: 15px
                    color: #868686
            & button
                width: 100%
                height: 34px
                hovered_g()