include ../mixinsPug/arrowBtn

section.arrowBtns.main__arrowBtn
    h1.arrowBtns__header Arrow buttons
    .arrows-wrapper
        .arrow-inactive
            +arrowBtn('left', 'inactive')
            +arrowBtn('right', 'inactive')

        .arrow-disabled
            +arrowBtn('left', 'disabled')
            +arrowBtn('right', 'disabled')

        .arrow-hovered
            +arrowBtn('left', 'hovered')
            +arrowBtn('right', 'hovered')