.elements__tickBoxes
    h1.tickBoxes-header Tick Boxes
    .container-wrapper
        label.container.left
                input(type="checkbox" checked="checked")
                span.checkmark
        label.container.right
                input(type="checkbox")
                span.checkmark