.userProfile
    width: 100%
    display: flex
    justify-content: space-between
    flex-direction: column
    height: 263px
    &__header
        CommonFonts()

.boy
.girl
    display: flex
    justify-content: flex-end
    .photo
        align-self: center
        width: 84px
        height: 84px
        border-radius: 50%
        background-color: $gray
        margin: 0px 17px 0 0
        box-shadow 0 0 0 4px $gray
        img
            background-size: cover
    .info
        align-self: center
        display: flex
        flex-direction: column
        align-items: center
        height: 93px
        width: 165px
        background-color: $gray
        border-radius: 8px
        position: relative
        .name
            font-size: 18px
            margin-top: 13px
            margin-bottom: 0
        .position
            font-size: 11px
            text-transform: uppercase
            font-weight: bold
            margin-top: 0
            margin-bottom: 10px
        .social-btns
            width: 123px
            height: 22px
            display: flex
            justify-content: space-between
            position: relative
            .icon
                display: inline-block
                stroke-width: 0
                stroke: currentColor
                fill: currentColor

        &::before
            content: ""
            position: absolute
            top: calc(50% - 7px)
            right: 100%
            border-width: 7px
            border-style: solid
            border-color: transparent $gray transparent transparent

.boy
    .info
        .name
            color: $orange
        .social-btns
            .icon-facebook
            .icon-dribbble
                color: #757575
            .icon-twitter
                color: #e75735

.girl
    .info
        background-color: $green
        &::before
            border-color: transparent $green transparent transparent
.girl
    .name
    .position
    .icon-facebook
    .icon-twitter
    .icon-dribbble
        color: $white