.userProfile
    &__header
        CommonFonts()

.boy
    margin-top: 25px

.boy, .girl
    display: flex
    justify-content: flex-end
    & .photo
        width: 84px
        height: 84px
        border-radius: 50%
        background-color: $gray
        margin: 7px 17px 0 0
        box-shadow 0 0 0 4px $gray
        & img
            background-size: cover
    & .info
        margin-top: 4px
        display: flex
        flex-direction: column
        align-items: center
        height: 93px
        width: 165px
        background-color: $gray
        border-radius: 8px
        position: relative
        & .name
            font-size: 18px
            color: $orange
            margin-top: 13px
            margin-bottom: 0
        & .position
            font-size: 11px
            text-transform: uppercase
            font-weight: bold
            color: #4f4f4f
            margin-top: 0
            margin-bottom: 10px
        & .social-btns
            width: 105px
            height: 21px
            display: flex
            justify-content: space-between
            position: relative
            & .fb, .twit, .drbl
                position: absolute
            & .fb
                width: 22px
                height: 22px
                fill: red
            & .twit
                width: 40px
                height: 40px
                fill: #1b9dec
                top: -15px
                left: 30px
            & .drbl
                width: 40px
                height: 40px
                fill red
                top: -9px
                left: 70px

        &::before
            content: ""
            position: absolute
            top: calc(50% - 7px)
            right: 100%
            border-width: 7px
            border-style: solid
            border-color: transparent $gray transparent transparent

.girl
    margin-top: 23px
    & .info
        background-color: $green
        & .name, .position
            color: $white
        &::before
            border-color: transparent $green transparent transparent