h1.userProfile__header User profile

.boy
    .photo
        img(src=require("./boy.png"))
    .info
        h2.name John Smith
        h3.position ux designer
        .social-btns
            img(src=require("./i_facebook.svg")).fb
            img(src=require("./i_Twitter.svg")).twit
            img(src=require("./i_dribble_.svg")).drbl