.userProfile
    &__header
        CommonFonts()

.boy
    //outline: 2px solid red
    margin-top: 25px
    display: flex
    justify-content: flex-end

.photo
    width: 89px
    height: 89px
    border-radius: 50%
    background-color: $gray
    margin: auto 13px auto 0
    box-shadow 0 0 0 4px $gray
    & img
        width: 89px
        height: 89px

.info
    display: flex
    flex-direction: column
    align-items: center
    height: 93px
    width: 165px
    background-color: $gray
    border-radius: 8px
    position: relative
    & .name
        font-size: 18px
        color: $orange
        margin-top: 13px
        margin-bottom: 0
    & .position
        font-size: 11px
        text-transform: uppercase
        font-weight: bold
        color: #4f4f4f
        margin-top: 0
        margin-bottom: 15px
    & .social-btns
        width: 95px
        height: 21px
        display: flex
        justify-content: space-between
    &::before
        content: ""
        position: absolute
        top: calc(50% - 7px)
        right: 100%
        border-width: 7px
        border-style: solid
        border-color: transparent $gray transparent transparent

.fb
.twit
.drbl
    width: 30px
