@import "../variablesStyl/variables.styl"

.sliders
    margin-top: 24px
    &__header
        CommonFonts()
    &-container
        margin-top: 35px
        padding: 0 55px 0
        display: flex
        flex-wrap nowrap
        justify-content: space-between

.sliderDiv__right
.sliderDiv__left
    //width: 260px
    & input[type='range']
        width: 260px
        height: 5px

.slider-left
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background-color: $gray
    outline: none
    &::-webkit-slider-thumb
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        height: 20px
        width: 20px
        border-radius: 50%
        background-color: $orange

form
    position: relative;
    //margin: 50px;

output {
    position: absolute;
    background-image: linear-gradient(to bottom, #444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px / 30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: 10%;
}

output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

//#left .noUi-connect
//    background-color: red