section.sliders
    h1.sliders__header Sliders
    .sliders-container
        .sliderDiv__left
            input(id='leftSl' type="range" ).slider-left
        .sliderDiv__right
            //input(type='range' id='rightSl').slider-right
            .slider-left