@import "../variablesStyl/variables.styl"

.sliders
    margin-top: 24px
    &__header
        CommonFonts()
    &-container
        margin-top: 35px
        padding: 0 55px 0
        display: flex
        flex-wrap nowrap
        justify-content: space-between

.sliderDiv__right
.sliderDiv__left
    width: 260px
    & input[type='text']
        width: 260px
        height: 5px


#leftSl .slider-track-low
    background: none;

//#leftSlSlider > .slider-selection
//    display: none !important
//    background-image: none !important
//    box-shadow none !important

//.slider-handle.custom
//    height: 20px
//    width: 20px
//    border-radius: 50%
//    background-color: $orange
//
//.slider-handle.custom::before
//    content: ''
//    color: $orange







//.slider-left
//    -webkit-appearance: none
//    -moz-appearance: none
//    appearance: none
//    background-color: $gray
//    outline: none
//    &::-webkit-slider-thumb
//        -webkit-appearance: none
//        -moz-appearance: none
//        appearance: none
//        height: 20px
//        width: 20px
//        border-radius: 50%
//        background-color: $orange



