.video
    margin-top: 50px
    margin-bottom: 110px
    &__header
        CommonFonts()
        margin-bottom: 22px
    & .player
        width: 598px
        height: 334px
        position: relative
        overflow: hidden
    &:hover #video-controls
        transform: translateY(0)
video
    width: 100%
    height: auto

#video-controls
    width: 100%
    height: 46px
    position: absolute
    bottom: 0
    display: flex
    background-color: rgba(0, 0, 0, 0.3)
    transform: translateY(100%)
    & button
        border: none
        background-color: transparent
        cursor: pointer
        background-size: contain
        background-repeat: no-repeat
    & .play
        width: 8%
        height: auto
        background-image: url("./Play.png")
        background-repeat: no-repeat
        background-position: center
        background-size: 10px 14px
    & .pause
        width: 8%
        height: auto
        background-image: url('./fs.png')
        background-repeat: no-repeat
        background-position: center
        background-size: 22px 22px
    & .progress
        width: 80%
        height: 5px
        border-radius: 20px
        border: none
        background-color: $gray
        align-self: center
        cursor: pointer
        position: relative
    & .progress-fill
        background-color: $orange
        height: 100%
        width: 0
    & #fs
        width: 8%
        height: auto
        background-color: $orange
        background-image: url('./fs.png')
        background-repeat: no-repeat
        background-position: center
        background-size: 22px 22px
        margin-left: auto