section.video
    h1.video__header Video

    .player
        video(id="video" preload="metadata" poster=require("./poster.png"))
            source(src=require("./video.mp4") type="video/mp4")

        #video-controls
            button(id="playPause").play
            .progress
                .progress-fill
            button(id="fs")